body{
    background-image: "calcolatrice.jpg";
}

p{
    padding-top: 30;
    padding-bottom: 30;
    text-align: center;
    font-size: 18;
    width: 400;
    height: 200;
    background-color: aqua;
    color: blue;
}

a,a:link,a:visited{
	text-decoration: none;
	color: red;
}

table{
    display: block;
    padding-top: 100;
    padding-left: 50;
    align-content: center;
}

td{
    padding-right: 30;
    padding-left: 50;
}

.expression{
    display: block;
    padding-left: 2;
    height: 60;
    width: 293;
    background-color: aqua;
    font-size: 32;
    color: blue;
}

.buttons{
    display: block;
    padding-top: 25;
}

.button{
    width: 70;
    height: 60;
    text-align: center;
    font-size: 32;
    color: blue;
    background-color: aqua;
}

.bresult{
    display: block;
    height: 60;
    width: 293;
    color: blue;
	font-size: 16;
    background-color: aqua;
}